/*
*
* @author Washington Júnior
* @version 0.1
*/

/* ********** PALETA DE CORES **********

- Branco: #ffffff; rgb(255,255,255)
- Vermelho: #ff0000; rgb(255,0,0)

*/

/* ********** SECTION ********** */

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

section p {
  font-size: 40px;
}

section p#tempo {
  color: #ff0000;
}

.base {
  max-width: 600px; /* Same width of the scenery image (cenario.png) */
  margin: 0 auto; /* Center an HTML element */
  border: 1px solid;
}

.base-img {
  display: inline-block; 
  width: 33.3%; 
  text-align: center;
}

#cenario {
  /* The image used */
  background: url(../img/game-screen/cenario.png);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Other styling */
  border: 0;
}

.img-balao {
  margin: 10px;
}

/* ********** FOOTER ********** */

footer a, footer a:hover {
  color: #fff;
}

footer a:hover {
  text-decoration: none;
  font-weight: bold;
}