/*
*
* @author Washington Júnior
* @version 0.1
*/

/* ********** PALETA DE CORES **********

- Branco: #ffffff; rgb(255,255,255)

*/

/* ********** SECTION ********** */

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  font-weight: bold;
}

/* ********** FOOTER ********** */

footer a, footer a:hover {
  color: #fff;
}

footer a:hover {
  text-decoration: none;
  font-weight: bold;
}