/*
*
* @author Washington Júnior
* @version 0.1
*/

/* ********** PALETA DE CORES **********

*/

section {
  padding-top: 20px;
}

.base {
  max-width: 600px; /* Same width of the scenery image (cenario.png) */
  margin: 0 auto; /* Center an HTML element */
  border: 1px solid;
}

.base-img {
  display: inline-block; 
  width: 33.3%; 
  text-align: center;
}

#cenario {
  background: url(../img/game-screen/cenario.png);
  max-height: 550px; /* Same height of the scenery image (cenario.png) */
  border: 0;
}

.img-balao {
  margin: 10px;
}